<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<head>
</head>
<body>
    <header>
      <h1>ミニブログを作ってみよう</h1>
    </header>
    <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
       </ul>
       {% endif %}
     {% endwith %}
    </div>
    <div>
    <form
    action="{{url_for('comment_create')}}"
    method="POST"
    novalidate="novalidate"
  >
    <p>
      <label for="blog_id">コメントしたいブログID：</label><input type="text" name="blog_id" value="{{comment.blog_id or request.form["blog_id"]}}" />
    </p>
    <p>
      <label for="user_name">投稿者名：</label><input type="text" name="user_name" value="{{comment.user_name or request.form["user_name"]}}" />
    </p>
    <p>
      <label for="body">内容：</label><textarea name="body" cols="40" rows="10">{{comment.body or request.form["body"]}}</textarea>
    </p>
    <p><button type="submit">送る</button></p>
  </form>

  </div>

  <div>
    <ul>
      {% for comment in comments %} <!-- ループさせてそれぞれ要素を取り出す -->
      <li><a href="{{url_for('get_comment', id=comment.id)}}">{{ comment.body }}</a></li> <!-- コメント編集画面へのリンク -->
       {% endfor %}
    </ul>
  </div>
</body>
</html>